@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url(footer.css);
:root {
  --main-color: #007bff;
  --primary: #f0fff7;
  --black: #141414;
  --white: #fff;
  --bg: #f2f2f2;
  --light-black: #666;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-size: 4rem;
}

.btn {
  display: block;
  margin: 1rem auto; /* Menggunakan auto untuk margin atas dan bawah dan center untuk margin kiri dan kanan */
  padding: 1rem 3rem;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--main-color);
}

.btn:hover {
  background: var(--black);
  color: var(--white);
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--primary);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 2.2rem;
  font-weight: bolder;
  color: var(--main-color);
}

.header .navbar a {
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--main-color);
}

/* end */

/* home */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(http://localhost/LAST/public/img/client/KabarPanti/kabar\ panti.png)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home .content {
  max-width: 60rem;
  text-align: center;
}

.home .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--white);
  padding-bottom: 3.5rem;
}

.home .content h1 {
  color: var(--white);
}

/* end */

/* about */

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: uppercase;
}

.about .row .content p {
  font-size: 1.6rem;
  color: var(--light-black);
  padding: 2rem 0;
  line-height: 2;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
}

/* end */

/* services */

.services {
  background: var(--bg);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-top: 8rem;
}

.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 8rem;
}

.services .box-container .box:hover,
.services .box-container .box:hover .icon {
  background: var(--primary);
}

.services .box-container .box .icon {
  width: 13rem;
  height: 13rem;
  line-height: 13rem;
  background: var(--white);
  border-radius: 50%;
  margin: -11rem auto 2rem;
  border: 1.8rem solid var(--bg);
}

.services .box-container .box .icon img {
  width: 5rem;
  margin-top: 2rem;
}

.services .box-container .box .content h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--main-color);
}

.services .box-container .box .content .line {
  background: var(--main-color);
  width: 30%;
  height: 0.4rem;
  margin: 2rem auto;
  border-radius: 5rem;
}

.services .box-container .box .content p {
  font-size: 1.4rem;
  color: var(--black);
  line-height: 2;
}

.services .box-container .box .content ul {
  margin: 2rem 0;
  list-style: none;
}

.services .box-container .box .content ul li {
  padding: 0.5rem;
  font-size: 1.4rem;
  color: var(--black);
}

.services .box-container .box .content ul li i {
  font-size: 1.4rem;
  columns: var(--white);
  padding: 0.5rem;
  margin-right: 1rem;
  background: var(--main-color);
  border-radius: 50%;
}

/* end */

/* diet */

.diet .controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  list-style: none;
}

.diet .controls .buttons {
  padding: 3rem 2rem;
  background: var(--white);
  cursor: pointer;
  margin-bottom: 3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 1rem;
}

.diet .controls .buttons img {
  height: 6rem;
}

.diet .controls .buttons h3 {
  font-size: 1.7rem;
  padding-top: 1rem;
  color: var(--light-black);
}

.diet .controls .buttons.active {
  background: var(--primary);
}

.diet .image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.diet .image-container .box {
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.diet .image-container .box:hover .image img {
  transform: scale(1.1);
}

.diet .image-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.diet .image-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.diet .image-container .box .content {
  padding: 2rem;
}

.diet .image-container .box .content .link {
  font-size: 2rem;
  color: var(--main-color);
}

.diet .image-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-black);
  line-height: 2;
}

.diet .image-container .box .content .icon {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.diet .image-container .box .content .icon a {
  font-size: 1.4rem;
  color: var(--light-black);
}

.diet .image-container .box .content .icon a:hover {
  color: var(--main-color);
}

.diet .image-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--main-color);
}

/* end */

/* pricing */

.pricing {
  background: var(--main-color);
  padding-bottom: 8rem;
}

.headingputih {
  text-align: center;
  color: var(--white);
  margin-bottom: 4rem;
  margin-top: 2rem;
  font-size: 4rem;
}

.pputih {
  text-align: center;
  color: var(--white);
  font-size: 2rem;
}

.pricing .box-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.pricing .box-container .box {
  height: 52rem;
  width: 30rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: var(--white);
}

.pricing .box-container .active {
  background: var(--primary);
  transform: scale(1.1);
}

.pricing .box-container .title {
  margin: 3rem 0;
  font-size: 2.2rem;
  color: var(--black);
  text-transform: uppercase;
}

.pricing .box-container .box .price {
  color: var(--main-color);
  margin-bottom: 5rem;
}

.pricing .box-container .box .price .currency {
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 300;
}

.pricing .box-container .box .price .amount {
  font-size: 5.8rem;
  line-height: 4.5rem;
  font-weight: 700;
}

.pricing .box-container .box .price .duration {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.pricing .box-container .box ul {
  margin: 0 auto 2.5rem;
}

.pricing .box-container .box ul li {
  text-align: left;
  font-size: 1.6rem;
  padding-left: 3rem;
  margin: 1rem auto;
  color: var(--light-black);
}

.pricing .box-container .box ul li i {
  color: var(--main-color);
  padding: 0 1rem;
}

.pricing .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-black);
  margin: 2rem auto;
  text-align: left;
  padding-left: 3.8rem;
}

/* end */

/* review */

.reviews .slide p {
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  background: var(--primary);
  border-radius: 0.5rem;
  color: var(--black);
  line-height: 2;
  position: relative;
  z-index: 0;
  margin-bottom: 3rem;
}

.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: var(--primary);
  transform: rotate(45deg);
}

.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
}

.reviews .slide .user span {
  color: var(--main-color);
  font-size: 1.5rem;
}

/* end */

/* newsletter */

.newsletter {
  background: url(images/newsletter.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-black);
}

.newsletter .content form {
  margin-top: 2rem;
  background: var(--white);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.8rem;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  font-size: 1.6rem;
  color: var(--main-color);
  padding: 0 1.3rem;
  text-transform: capitalize;
}

.newsletter .content form .btn {
  margin-top: 0;
  background: none;
}

.newsletter .content form .btn:hover {
  background: var(--main-color);
}

/* end */

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 409px;
  margin: 20px 20px 20px 20px;
}

.card-title {
  margin-bottom: 0; /* Menghilangkan margin bawah dari judul */
}

.tanggal {
  flex-shrink: 0;
  color: var(--offbutton, rgba(0, 0, 0, 0.6));
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.25%;
  text-align: left; /* Menggeser teks ke kanan */
}
/* end */

/* media query */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }

  section {
    padding: 3rem 5rem;
  }
}

@media (max-width: 768px) {
  #menu {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--primary);
    border-top: 0.1rem solid #aaa;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    color: var(--light-black);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .newsletter .content {
    max-width: 100%;
  }
}

.lingkaran-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items ke bagian atas */
}

.lingkaran {
  text-align: center;
  width: 190px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #d9d9d9;
  margin-top: 20px; /* Jarak antara gambar dan teks */
}

.lingkaran img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  margin: 0 5px;
  border-radius: 105px;
  cursor: pointer;
}

.pagination a.active {
  background-color: #0866ff;
  color: white;
}

.pagination a img {
  width: 20px;
  height: 20px;
}

.active {
  background-color: #3498db;
  color: #fff;
}

.lihat_semua button {
  text-align: center; /* Meletakkan elemen di tengah */
  color: var(--secondary_oceanblue, #0866ff);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.25%; /* 27.45px */
  width: 198px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 3px solid var(--secondary_oceanblue, #0866ff);
  align-items: center;
}
/* CSS untuk mengatur tombol "Lihat Semua" di tengah halaman */
.lihat_semua {
  text-align: center;
  margin-top: 20px; /* Sesuaikan jarak dari atas sesuai kebutuhan */
}
.lihat_semua button {
  display: inline-block;
}
